@use '/src/sass/abstracts/'as *;

.wide-container{
    --max-width: 1750px;
    --container-padding: 1rem;
  
    width: min(var(--max-width), 100% - (var(--container-padding) * 2)) !important;
    margin-inline: auto;
}


.container-de {
    --max-width: 1500px;
    --container-padding: 1rem;
  
    width: min(var(--max-width), 100% - (var(--container-padding) * 2)) !important;
    margin-inline: auto;
  }


  .even-columns {
    display: grid;
  }
  
  @media (min-width: $lg) {
    .even-columns {
      grid-auto-flow: column;
      grid-auto-columns: 1fr;
      gap: 1rem;
    }
  }