html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
input {
  margin: 0;
  padding: 0;
  line-height: unset;
  font-weight: unset;
  font-size: unset;
  color: unset;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}




