
@use '/src/sass/abstracts/'as *;

:root {
   --fs-400: 1rem;
   --fs-425: 1.125rem;
   --fs-450: 1.5rem;
   --fs-500: 1.875rem;

   --fs-600: 1.5rem;
   --fs-650: 1.5rem;
   --fs-700: 1.875rem;

   @media(min-width:$sm) {

      --fs-600: 2rem;
      --fs-650: 2rem;
      --fs-700: 3rem
   }

   @media(min-width:$md) {

      --fs-600: 2.25rem;
      --fs-650: 2.5rem;
      --fs-700: 3.75rem
   }
}