@use "/src/sass/abstracts/functions" as f;
@use "/src/sass/abstracts/breakpoints" as *;

:root {

  --ff-accent: 'jubilat', serif;

  // Font Sizes

  // --fs-300: #{f.rem(14)};
  // --fs-400: #{f.rem(16)};
  // --fs-425: #{f.rem(18)};
  // --fs-475: #{f.rem(20)};
  // --fs-450: #{f.rem(24)};
  // --fs-500: #{f.rem(30)};

  // --fs-600: #{f.rem(24)};
  // --fs-625: #{f.rem(32)};
  // --fs-650: #{f.rem(30)};
  // --fs-675: #{f.rem(24)};
  // --fs-700: #{f.rem(24)};

  @include breakpoint(md) {
    // --fs-600: #{f.rem(32)};
    // --fs-650: #{f.rem(32)};
    // --fs-675: #{f.rem(48)};
    // --fs-700: #{f.rem(48)};
  }

  @include breakpoint(lg) {
    // --fs-600: #{f.rem(36)};
    // --fs-625: #{f.rem(32)};
    // --fs-650: #{f.rem(40)};
    // --fs-675: #{f.rem(60)};
    // --fs-700: #{f.rem(60)};
    // --fs-900: #{f.rem(72)};
  }
}

// Font Sizes

// $fs-300: var(--fs-300);
// $fs-400: var(--fs-400);
// $fs-425: var(--fs-425);
// $fs-450: var(--fs-450);
// $fs-475: var(--fs-475);
// $fs-500: var(--fs-500);
// $fs-600: var(--fs-600);
// $fs-625: var(--fs-625);
// $fs-650: var(--fs-650);
// $fs-675: var(--fs-675);
// $fs-700: var(--fs-700);
// $fs-900: var(--fs-900);

// Font Family

$ff-primary: "Montserrat", sans-serif;
$ff-accent: jubilat, serif;


// $ff-accent: "Raleway", sans-serif;



// Font Weights

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;