.container {
    --max-width: 1500px;
    --container-padding: 1rem;
  
    width: min(var(--max-width), 100% - (var(--container-padding) * 2)) !important;
    margin-inline: auto;
  }

  .even-columns {
    display: grid;
    gap: 1rem;
  }
  
  @media (min-width: 50em) {
    .even-columns {
      grid-auto-flow: column;
      grid-auto-columns: 1fr;
    }
  }

  .full-bleed {
    box-shadow: 0 0 0 100vmax var(--clr-primary-400);
    clip-path: inset(0 -100vmax);
  }

  .flex {
    display: flex;
    gap: var(--gap, 1rem);
  }

  .text-center {
    text-align: center;
  }


  