:root {
   --clr-primary-100: hsl(203, 96%, 98%);
   --clr-primary-300: hsl(203, 96%, 44%);
   --clr-primary-400: hsl(203, 100%, 32%);
   --clr-primary-500: hsl(203, 100%, 25%);

   --clr-accent-300: hsl(79, 95%, 48%);
   --clr-accent-400: hsl(79, 100%, 33%);
   --clr-accent-500: hsl(79, 96%, 29%);

   --clr-neutral-100: hsl(0, 0%, 100%);
   --clr-neutral-200: hsl(0, 0%, 97%);
   --clr-neutral-400: hsl(240, 2%, 64%);
   --clr-neutral-500: hsl(240, 1%, 44%);
   --clr-neutral-700: hsl(0, 0%, 25%);
   --clr-neutral-800: hsl(210, 5%, 8%);
   // --clr-neutral-900:hsl(0, 0%, 0%);
   --clr-neutral-900: hsl(202, 83%, 5%);

   --clr-greys-500: hsl(0, 0%, 38%);
   --clr-greys-600: hsl(0, 0%, 25%);
   --clr-greys-700: hsl(0, 0%, 13%);

   --clr-blues-100: hsl(204, 24%, 96%);
   --clr-blues-600: hsl(203, 25%, 32%);
   --clr-blues-700: hsl(202, 30%, 17%);
   --clr-blues-800: hsl(203, 100%, 8%);




}

$clr-primary-100: var(--clr-primary-100);
$clr-primary-300: var(--clr-primary-300);
$clr-primary-400: var(--clr-primary-400);
$clr-primary-500: var(--clr-primary-500);

$clr-accent-300: var(--clr-accent-300);
$clr-accent-400: var(--clr-accent-400);
$clr-accent-500: var(--clr-accent-500);

$clr-neutral-100: var(--clr-neutral-100);
$clr-neutral-200: var(--clr-neutral-200);
$clr-neutral-400: var(--clr-neutral-400);
$clr-neutral-500: var(--clr-neutral-500);
$clr-neutral-700: var(--clr-neutral-700);
$clr-neutral-800: var(--clr-neutral-800);
$clr-neutral-900: var(--clr-neutral-900);

$clr-greys-500: var(--clr-greys-500);
$clr-greys-600: var(--clr-greys-600);
$clr-greys-700: var(--clr-greys-700);

$clr-blues-100: var(--clr-blues-100);
$clr-blues-600: var(--clr-blues-600);
$clr-blues-700: var(--clr-blues-700);
$clr-blues-800: var(--clr-blues-800);