$ff-primary: 'Montserrat', sans-serif;
$ff-accent: 'Raleway', sans-serif;

$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;

$fs-400: var(--fs-400);
$fs-425: var(--fs-425);
$fs-450: var(--fs-450);
$fs-500: var(--fs-500);
$fs-600: var(--fs-600);
$fs-650: var(--fs-650);
$fs-700: var(--fs-700);

$fs-body: $fs-400;
$fs-nav: $fs-425;

$fs-primary-heading: $fs-700;
$fs-secondary-heading: $fs-650;
$fs-content-heading: $fs-600;

$fs-button: $fs-400;