@use "/src/sass/abstracts/" as *;
@use "/src/sass/base/" as *;

.checking {
  @include breakpoint(lg) {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      width: 95%;
      height: 100%;
      background: $clr-neutral-700;
      z-index: -1;
    }
  }




  .img-col {

    img {
      @include breakpoint(lg) {
        border-left: 10px solid #fff;
      }
    }
  }
}