.questions-search {
    width: 100%;
    border: 0 !important;
    border-bottom: 2px solid rgb(85, 85, 85) !important;
    margin-bottom: 2rem !important;
    font-size: 1.25rem;


    @media(min-width:768px) {
        margin-top: 3rem !important;
        margin-bottom: 5rem !important;
        font-size: 3rem;
    }

    &::placeholder {
        font-family: var(--ff-accent);
        color: black;
        font-weight: 600;
        font-size: 1.25rem;

        @media(min-width:768px) {
            font-size: 3rem;
            color: rgba(0, 0, 0, 0.884);
            font-weight: 500;
        }
    }
}

.questions {
    .title-wrapper {
        margin-bottom: 3rem;

        @media(min-width:1000px) {
            margin-bottom: 5rem;
        }

        h2 {
            font-size: 1.5rem;
            // padding: 1rem 0.75rem;
            // background: var(--clr-primary-400);

            // margin-bottom: 2rem;

            color: black;
            // border-radius: 5px;
            // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            // max-width: 500px;

            @media(min-width:1000px) {
                // padding: 1.5rem 1.25rem;
                font-size: 3.375rem;
                // line-height: 2.25rem;
            }
        }


    }


    .card-row {

        display: flex;
        flex-direction: column;
        // gap: 1rem;
        // column-gap: 1rem;
        row-gap: 2rem;
        margin-bottom: 2rem;


        @media(min-width:1000px) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 0.5rem;
            margin-bottom: 3rem;
        }

        @media(min-width:1200px) {
            gap: 2rem;
        }


        .card-de {
            padding: 1rem;
            border: 1px solid #e3e3e3;

            // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            padding-block: 1.5rem;
            padding-inline: 1rem;
            // background: #f4f4f4c1;
            border-radius: 3px;

            height: 350px;

            overflow: auto;

            @media(min-width:1000px) {
                height: 425px;
                padding-block: 3rem;
                padding-inline: 1.75rem;
            }


            h3 {

                font-size: 1.25rem;
                color: #292929;

                font-weight: 700;
                line-height: 1.125;
                font-family: 'jubilat', serif;

                @media(min-width: 1000px) {
                    font-size: 1.5rem;
                }
            }

            p {
                font-size: 0.875rem;
                line-height: 1.75;
                color: #292929;

                @media(min-width:1000px) {
                    font-size: 1rem;
                }

            }
        }
    }
}