@use '/src/sass/abstracts/' as *;
@use '/src/sass/base/' as *;

.rates-table {
    table {
        border-collapse: separate;
        border: solid hsl(0, 0%, 95%) 1px;
        border-radius: 10px;
        border-spacing: 0;

        -webkit-box-shadow: 2px 5px 12px 0px hsl(0, 0%, 90%);
        -moz-box-shadow: 2px 5px 12px 0px hsl(0, 0%, 90%);
        box-shadow: 2px 5px 12px 0px hsl(0, 0%, 90%);

        thead {
            background-color: $clr-primary-400;
            color: $clr-neutral-100;
            font-weight: 600;

            @include breakpoint(md) {
                font-size: 1.25rem;
            }

            td {

                padding: 0.5rem;

                @include breakpoint(md) {
                    padding: 1rem;
                }
            }
        }

        th:first-of-type {
            border-top-left-radius: 10px;
        }

        th:last-of-type {
            border-top-right-radius: 10px;
        }

        tr:last-of-type td:first-of-type {
            border-top-left-radius: 10px;
        }

        tr:last-of-type td:last-of-type {
            border-top-right-radius: 10px;
        }

        tr {
            border: 2px solid hsl(0, 0%, 90%);

            &:nth-child(even) {
                // background-color: $clr-primary-100;
                background-color: $clr-neutral-200;
            }

            td {
                padding: 1rem;

                // @include breakpoint(md) {
                //     padding: 1rem;
                // }
            }
        }
    }
}

// BG FIX

body>div.\[.container-de.\]>div>div:nth-child(2)>table>tbody>tr:nth-child(13) {
    background-color: $clr-neutral-200;
}

body>div.\[.container-de.\]>div>div:nth-child(2)>table>tbody>tr:nth-child(11) {
    background-color: $clr-neutral-200;
}