<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Raleway:wght@400;600;700&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="/GBD_Theme/dist/main.css" />
  <title>Document</title>
</head>

<body style="background-color: grey;">
  <div class="container-de">
    <div class="bgc-primary-400">
      <div class="hero-content clr-neutral-100 fw-bold ff-primary lh-400 flex-col">
        <div class="fs-475 lh-400">Telco Plus Savings</div>
        <div class="fs-650 lh-400">NO CAP on Your Earnings!</div>
        <div class="flex a-items-center gap-200">
          <div class="fs-900 lh-400">1.50</div>
          <div class="fs-425 fw-bold lh-400">
            %<br />
            APY
          </div>
        </div>
        <div class="btn-wrapper"><a href="" class="btn">apply today</a></div>
      </div>
    </div>

    <div class="space"></div>

    <div class="login | bgc-neutral-100 | text-center">
      <div class="login__header | clr-neutral-700 fw-medium fs-450">Online Banking</div>
      <div class="login__btn | my-400 m-inline-auto"><a href="" class="fs-425 fw-bold">Secure Log In</a></div>
      <div class="login__sub-text | fs-300 pb-400"><a href="http://" target="_blank" rel="noopener noreferrer">Forgot
          Username/Password?</a></div>
    </div>
  </div>
</body>

</html>