<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Raleway:wght@400;600;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/GBD_Theme/dist/main.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="[ home-hero ] [ relative ] [ w-screen ]">
      <div class="[ container-de ]">
        <div class="[ home-hero__content ] [ grid ] [ row-gap-05 ] [ py-3 ]">
          <div class="fs-20 [ fw-semi-bold ]">Telco Plus Savings</div>
          <div class="[ secondary-heading ] [ fw-semi-bold ]">NO CAP on Your Earnings!</div>
          <div class="[ flex ] [ gap-05 ] [ items-center ]">
            <div class="[ primary-heading ] [ fw-semi-bold ]">1.50</div>
            <div class="[ fw-semi-bold ]">
              <div class="lh-1">%</div>
              <div class="lh-1">APY</div>
            </div>
          </div>
          <div class="btn-wrapper">
            <a href="#" class="btn">Apply Today</a>
          </div>
        </div>
        <div class="circles"></div>
      </div>
    </div>
  </body>
</html>
