<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Raleway:wght@400;600;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/GBD_Theme/dist/main.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="[ home-hero ] [ relative ] [ w-screen ] [ bgc-primary-400 ]">
      <div class="[ wide-container ]">
        <div class="[ grid lg-grid-cols-2 ] [ gap-y-2 ] [ py-2 lg-py-12-5 ]">
          <div class="[ home-hero__content ] [ grid ] [ row-gap-05 ] [ clr-neutral-100 ]">
            <div class="[ fs-20 ] [ fw-bold ]">Telco Plus Savings</div>
            <div class="[ secondary-heading ] [ fw-bold-force ]">NO CAP on Your Earnings!</div>
            <div class="[ flex ] [ gap-05 ] [ items-center ]">
              <div class="[ primary-heading ] [ fw-bold-force ]">3.00</div>
              <div class="[ fw-bold ]">
                <div class="[ lh-1 ]">%</div>
                <div class="[ lh-1 ]">APY</div>
              </div>
            </div>
            <div class="[ btn-wrapper ]">
              <a href="https://dev3.growthbydesign.org/checking/" class="[ btn ]">Apply Today</a>
            </div>
          </div>
          <div class="[ login-col ] [ max-md-mx-auto md-ml-auto ]">
            <div class="[ log-in-wrapper ] [ relative ] [ p-1 ] [ text-center ] [ bgc-neutral-100 ] [ b-rad ] [ home-hero-shadow ]">
              <div class="[ fs-20 md-fs-24 ] [ pb-05 md-pb-1 ] [ fw-semi-bold ]">Online Banking</div>
              <hr class="absolute" style="width: 100%; left: 0; border-top: red" />
              <div class="[ btn-wrapper ] [ pb-0 md-pb-1 pt-1 ]">
                <a href="#" class="[ btn btn-accent ]">Secure Log In</a>
              </div>
              <div><a class="hidden md-block clr-neutral-900" href="#">Forgot username/password?</a></div>
            </div>
          </div>
        </div>
        <div class="[ light-circle ]"></div>
        <div class="[ dark-circle ]"></div>
      </div>
    </div>
  </body>
</html>
