<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Raleway:wght@400;600;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.typekit.net/ltf2gqy.css" />
    <link rel="stylesheet" href="/GBD_Theme/dist/main.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="text-center fs-20 clr-blues-900 fw-bold">Important Message</div>
    <p class="text-center">By accessing the noted link you will be leaving 1st Choice Credit Union's website and entering a website hosted by another party. 1st Choice Credit Union has not approved this as a reliable partner site. Please be advised that you will no longer be subject to, or under the protection of, the privacy and security policies of 1st Choice Credit Union's website. We encourage you to read and evaluate the privacy and security policies of the site you are entering, which may be different than those of 1st Choice Credit Union.</p>
    <div class="modal-btn-wrapper"><span class="wow-modal-close-1 btn bg-text-rose-700 btn-no-shadow">Cancel</span> <a class="btn btn-no-shadow" href="https://www.cufs.org/" target="_blank" rel="noopener">Continue</a></div>
  </body>
</html>
