<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Raleway:wght@400;600;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.typekit.net/ltf2gqy.css" />
    <link rel="stylesheet" href="/GBD_Theme/dist/main.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="modals-container mb-8-tw flex flex-col gap-8-tw">
      <div class="facebook max-w-662">
        <div class="px-3-tw py-4-tw md-px-12-tw md-py-10-tw">
          <div class="pb-4-tw text-xl fw-bold">Important Message</div>
          <p>By accessing the noted link you will be leaving Telco Plus Credit Union's website and entering a website hosted by another party. Telco Plus Credit Union has not approved this as a reliable partner site. Please be advised that you will no longer be subject to, or under the protection of, the privacy and security policies of Telco Plus Credit Union's website. We encourage you to read and evaluate the privacy and security policies of the site you are entering, which may be different than those of Telco Plus Credit Union.</p>
        </div>
        <div class="bg-auxBlue-100">
          <div class="flex cursor-pointer flex-col gap-y-2-tw gap-x-4-tw px-12-tw py-6-tw md-flex-row">
            <div><div class="wow-modal-close-1 block rounded-md border-2 border-brandingBlue-400 bg-white px-12-tw py-2-tw text-center fw-bold text-brandingBlue-400">Cancel</div></div>
            <div><a href="https://www.facebook.com/telcopluscu/" target="_blank" class="block rounded-md border-2 border-brandingBlue-400 bg-brandingBlue-400 px-12-tw py-2-tw text-center fw-bold text-white">Continue</a></div>
          </div>
        </div>
      </div>
      <div class="instagram max-w-662">
        <div class="px-3-tw py-4-tw md-px-12-tw md-py-10-tw">
          <div class="pb-4-tw text-xl fw-bold">Important Message</div>
          <p>By accessing the noted link you will be leaving Telco Plus Credit Union's website and entering a website hosted by another party. Telco Plus Credit Union has not approved this as a reliable partner site. Please be advised that you will no longer be subject to, or under the protection of, the privacy and security policies of Telco Plus Credit Union's website. We encourage you to read and evaluate the privacy and security policies of the site you are entering, which may be different than those of Telco Plus Credit Union.</p>
        </div>
        <div class="bg-auxBlue-100">
          <div class="flex cursor-pointer flex-col gap-y-2-tw gap-x-4-tw px-12-tw py-6-tw md-flex-row">
            <div><div class="wow-modal-close-2 block rounded-md border-2 border-brandingBlue-400 bg-white px-12-tw py-2-tw text-center fw-bold text-brandingBlue-400">Cancel</div></div>
            <div><a href="https://www.instagram.com/telcopluscu/" class="block rounded-md border-2 border-brandingBlue-400 bg-brandingBlue-400 px-12-tw py-2-tw text-center fw-bold text-white">Continue</a></div>
          </div>
        </div>
      </div>
      <div class="youtube max-w-662">
        <div class="px-3-tw py-4-tw md-px-12-tw md-py-10-tw">
          <div class="pb-4-tw text-xl fw-bold">Important Message</div>
          <p>By accessing the noted link you will be leaving Telco Plus Credit Union's website and entering a website hosted by another party. Telco Plus Credit Union has not approved this as a reliable partner site. Please be advised that you will no longer be subject to, or under the protection of, the privacy and security policies of Telco Plus Credit Union's website. We encourage you to read and evaluate the privacy and security policies of the site you are entering, which may be different than those of Telco Plus Credit Union.</p>
        </div>
        <div class="bg-auxBlue-100">
          <div class="flex cursor-pointer flex-col gap-y-2-tw gap-x-4-tw px-12-tw py-6-tw md-flex-row">
            <div><div class="wow-modal-close-3 block rounded-md border-2 border-brandingBlue-400 bg-white px-12-tw py-2-tw text-center fw-bold text-brandingBlue-400">Cancel</div></div>
            <div><a href="https://www.youtube.com/user/TelcoPlusCreditUnion" class="block rounded-md border-2 border-brandingBlue-400 bg-brandingBlue-400 px-12-tw py-2-tw text-center fw-bold text-white">Continue</a></div>
          </div>
        </div>
      </div>
      <div class="ncua max-w-662">
        <div class="px-3-tw py-4-tw md-px-12-tw md-py-10-tw">
          <div class="pb-4-tw text-xl fw-bold">Important Message</div>
          <p>By accessing the noted link you will be leaving Telco Plus Credit Union's website and entering a website hosted by another party. Telco Plus Credit Union has not approved this as a reliable partner site. Please be advised that you will no longer be subject to, or under the protection of, the privacy and security policies of Telco Plus Credit Union's website. We encourage you to read and evaluate the privacy and security policies of the site you are entering, which may be different than those of Telco Plus Credit Union.</p>
        </div>
        <div class="bg-auxBlue-100">
          <div class="flex cursor-pointer flex-col gap-y-2-tw gap-x-4-tw px-12-tw py-6-tw md-flex-row">
            <div><div class="wow-modal-close-4 block rounded-md border-2 border-brandingBlue-400 bg-white px-12-tw py-2-tw text-center fw-bold text-brandingBlue-400">Cancel</div></div>
            <div><a href="https://ncua.gov/" class="block rounded-md border-2 border-brandingBlue-400 bg-brandingBlue-400 px-12-tw py-2-tw text-center fw-bold text-white">Continue</a></div>
          </div>
        </div>
      </div>
      <div class="cuna max-w-662">
        <div class="px-3-tw py-4-tw md-px-12-tw md-py-10-tw">
          <div class="pb-4-tw text-xl fw-bold">Important Message</div>
          <p>By accessing the noted link you will be leaving Telco Plus Credit Union's website and entering a website hosted by another party. Telco Plus Credit Union has not approved this as a reliable partner site. Please be advised that you will no longer be subject to, or under the protection of, the privacy and security policies of Telco Plus Credit Union's website. We encourage you to read and evaluate the privacy and security policies of the site you are entering, which may be different than those of Telco Plus Credit Union.</p>
        </div>
        <div class="bg-auxBlue-100">
          <div class="flex cursor-pointer flex-col gap-y-2-tw gap-x-4-tw px-12-tw py-6-tw md-flex-row">
            <div><div class="wow-modal-close-5 block rounded-md border-2 border-brandingBlue-400 bg-white px-12-tw py-2-tw text-center fw-bold text-brandingBlue-400">Cancel</div></div>
            <div><a href="https://www.cuna.org/" class="block rounded-md border-2 border-brandingBlue-400 bg-brandingBlue-400 px-12-tw py-2-tw text-center fw-bold text-white">Continue</a></div>
          </div>
        </div>
      </div>
      <div class="cornerstone max-w-662">
        <div class="px-3-tw py-4-tw md-px-12-tw md-py-10-tw">
          <div class="pb-4-tw text-xl fw-bold">Important Message</div>
          <p>By accessing the noted link you will be leaving Telco Plus Credit Union's website and entering a website hosted by another party. Telco Plus Credit Union has not approved this as a reliable partner site. Please be advised that you will no longer be subject to, or under the protection of, the privacy and security policies of Telco Plus Credit Union's website. We encourage you to read and evaluate the privacy and security policies of the site you are entering, which may be different than those of Telco Plus Credit Union.</p>
        </div>
        <div class="bg-auxBlue-100">
          <div class="flex cursor-pointer flex-col gap-y-2-tw gap-x-4-tw px-12-tw py-6-tw md-flex-row">
            <div><div class="wow-modal-close-6 block rounded-md border-2 border-brandingBlue-400 bg-white px-12-tw py-2-tw text-center fw-bold text-brandingBlue-400">Cancel</div></div>
            <div><a href="https://www.cornerstoneleague.coop/" class="block rounded-md border-2 border-brandingBlue-400 bg-brandingBlue-400 px-12-tw py-2-tw text-center fw-bold text-white">Continue</a></div>
          </div>
        </div>
      </div>
      <div class="EZCard max-w-662">
        <div class="px-3-tw py-4-tw md-px-12-tw md-py-10-tw">
          <div class="pb-4-tw text-xl fw-bold">Important Message</div>
          <p>By accessing the noted link you will be leaving Telco Plus Credit Union's website and entering a website hosted by another party. Telco Plus Credit Union has not approved this as a reliable partner site. Please be advised that you will no longer be subject to, or under the protection of, the privacy and security policies of Telco Plus Credit Union's website. We encourage you to read and evaluate the privacy and security policies of the site you are entering, which may be different than those of Telco Plus Credit Union.</p>
        </div>
        <div class="bg-auxBlue-100">
          <div class="flex cursor-pointer flex-col gap-y-2-tw gap-x-4-tw px-12-tw py-6-tw md-flex-row">
            <div><div class="wow-modal-close-7 block rounded-md border-2 border-brandingBlue-400 bg-white px-12-tw py-2-tw text-center fw-bold text-brandingBlue-400">Cancel</div></div>
            <div><a href="https://www.ezcardinfo.com/#/" class="block rounded-md border-2 border-brandingBlue-400 bg-brandingBlue-400 px-12-tw py-2-tw text-center fw-bold text-white">Continue</a></div>
          </div>
        </div>
      </div>
      <div class="CUFG Insurance max-w-662">
        <div class="px-3-tw py-4-tw md-px-12-tw md-py-10-tw">
          <div class="pb-4-tw text-xl fw-bold">Important Message</div>
          <p>By accessing the noted link you will be leaving Telco Plus Credit Union's website and entering a website hosted by another party. Telco Plus Credit Union has not approved this as a reliable partner site. Please be advised that you will no longer be subject to, or under the protection of, the privacy and security policies of Telco Plus Credit Union's website. We encourage you to read and evaluate the privacy and security policies of the site you are entering, which may be different than those of Telco Plus Credit Union.</p>
        </div>
        <div class="bg-auxBlue-100">
          <div class="flex cursor-pointer flex-col gap-y-2-tw gap-x-4-tw px-12-tw py-6-tw md-flex-row">
            <div><div class="wow-modal-close-8 block rounded-md border-2 border-brandingBlue-400 bg-white px-12-tw py-2-tw text-center fw-bold text-brandingBlue-400">Cancel</div></div>
            <div><a href="https://acutx-hmcwt.formstack.com/forms/insurance_telcoplus" class="block rounded-md border-2 border-brandingBlue-400 bg-brandingBlue-400 px-12-tw py-2-tw text-center fw-bold text-white">Continue</a></div>
          </div>
        </div>
      </div>
      <div class="CUDS max-w-662">
        <div class="px-3-tw py-4-tw md-px-12-tw md-py-10-tw">
          <div class="pb-4-tw text-xl fw-bold">Important Message</div>
          <p>By accessing the noted link you will be leaving Telco Plus Credit Union's website and entering a website hosted by another party. Telco Plus Credit Union has not approved this as a reliable partner site. Please be advised that you will no longer be subject to, or under the protection of, the privacy and security policies of Telco Plus Credit Union's website. We encourage you to read and evaluate the privacy and security policies of the site you are entering, which may be different than those of Telco Plus Credit Union.</p>
        </div>
        <div class="bg-auxBlue-100">
          <div class="flex cursor-pointer flex-col gap-y-2-tw gap-x-4-tw px-12-tw py-6-tw md-flex-row">
            <div><div class="wow-modal-close-9 block rounded-md border-2 border-brandingBlue-400 bg-white px-12-tw py-2-tw text-center fw-bold text-brandingBlue-400">Cancel</div></div>
            <div><a href="https://cud.texas.gov/" class="block rounded-md border-2 border-brandingBlue-400 bg-brandingBlue-400 px-12-tw py-2-tw text-center fw-bold text-white">Continue</a></div>
          </div>
        </div>
      </div>
      <div class="Mortgage Loan Application max-w-662">
        <div class="px-3-tw py-4-tw md-px-12-tw md-py-10-tw">
          <div class="pb-4-tw text-xl fw-bold">Important Message</div>
          <p>By accessing the noted link you will be leaving Telco Plus Credit Union's website and entering a website hosted by another party. Telco Plus Credit Union has not approved this as a reliable partner site. Please be advised that you will no longer be subject to, or under the protection of, the privacy and security policies of Telco Plus Credit Union's website. We encourage you to read and evaluate the privacy and security policies of the site you are entering, which may be different than those of Telco Plus Credit Union.</p>
        </div>
        <div class="bg-auxBlue-100">
          <div class="flex cursor-pointer flex-col gap-y-2-tw gap-x-4-tw px-12-tw py-6-tw md-flex-row">
            <div><div class="wow-modal-close-10 block rounded-md border-2 border-brandingBlue-400 bg-white px-12-tw py-2-tw text-center fw-bold text-brandingBlue-400">Cancel</div></div>
            <div><a href="https://hosting.bytesoftware.com/apps/bcp_57224" class="block rounded-md border-2 border-brandingBlue-400 bg-brandingBlue-400 px-12-tw py-2-tw text-center fw-bold text-white">Continue</a></div>
          </div>
        </div>
      </div>
      <div class="Loan application max-w-662">
        <div class="px-3-tw py-4-tw md-px-12-tw md-py-10-tw">
          <div class="pb-4-tw text-xl fw-bold">Important Message</div>
          <p>By accessing the noted link you will be leaving Telco Plus Credit Union's website and entering a website hosted by another party. Telco Plus Credit Union has not approved this as a reliable partner site. Please be advised that you will no longer be subject to, or under the protection of, the privacy and security policies of Telco Plus Credit Union's website. We encourage you to read and evaluate the privacy and security policies of the site you are entering, which may be different than those of Telco Plus Credit Union.</p>
        </div>
        <div class="bg-auxBlue-100">
          <div class="flex cursor-pointer flex-col gap-y-2-tw gap-x-4-tw px-12-tw py-6-tw md-flex-row">
            <div><div class="wow-modal-close-11 block rounded-md border-2 border-brandingBlue-400 bg-white px-12-tw py-2-tw text-center fw-bold text-brandingBlue-400">Cancel</div></div>
            <div><a href="https://dsot.onlinecu.com/telcopluscu/#/" class="block rounded-md border-2 border-brandingBlue-400 bg-brandingBlue-400 px-12-tw py-2-tw text-center fw-bold text-white">Continue</a></div>
          </div>
        </div>
      </div>
      <div class="Non Member Loan App max-w-662">
        <div class="px-3-tw py-4-tw md-px-12-tw md-py-10-tw">
          <div class="pb-4-tw text-xl fw-bold">Important Message</div>
          <p>By accessing the noted link you will be leaving Telco Plus Credit Union's website and entering a website hosted by another party. Telco Plus Credit Union has not approved this as a reliable partner site. Please be advised that you will no longer be subject to, or under the protection of, the privacy and security policies of Telco Plus Credit Union's website. We encourage you to read and evaluate the privacy and security policies of the site you are entering, which may be different than those of Telco Plus Credit Union.</p>
        </div>
        <div class="bg-auxBlue-100">
          <div class="flex cursor-pointer flex-col gap-y-2-tw gap-x-4-tw px-12-tw py-6-tw md-flex-row">
            <div><div class="wow-modal-close-12 block rounded-md border-2 border-brandingBlue-400 bg-white px-12-tw py-2-tw text-center fw-bold text-brandingBlue-400">Cancel</div></div>
            <div><a href="https://dsotapi.onlinecu.com/telcopluscu/LoanApplications/LOANHTML.html?docid=1" class="block rounded-md border-2 border-brandingBlue-400 bg-brandingBlue-400 px-12-tw py-2-tw text-center fw-bold text-white">Continue</a></div>
          </div>
        </div>
      </div>
      <div class="GAP Video max-w-662">
        <div class="px-3-tw py-4-tw md-px-12-tw md-py-10-tw">
          <div class="pb-4-tw text-xl fw-bold">Important Message</div>
          <p>By accessing the noted link you will be leaving Telco Plus Credit Union's website and entering a website hosted by another party. Telco Plus Credit Union has not approved this as a reliable partner site. Please be advised that you will no longer be subject to, or under the protection of, the privacy and security policies of Telco Plus Credit Union's website. We encourage you to read and evaluate the privacy and security policies of the site you are entering, which may be different than those of Telco Plus Credit Union.</p>
        </div>
        <div class="bg-auxBlue-100">
          <div class="flex cursor-pointer flex-col gap-y-2-tw gap-x-4-tw px-12-tw py-6-tw md-flex-row">
            <div><div class="wow-modal-close-13 block rounded-md border-2 border-brandingBlue-400 bg-white px-12-tw py-2-tw text-center fw-bold text-brandingBlue-400">Cancel</div></div>
            <div><a href="https://www.youtube.com/watch?v=0CsQj6H_ekE" class="block rounded-md border-2 border-brandingBlue-400 bg-brandingBlue-400 px-12-tw py-2-tw text-center fw-bold text-white">Continue</a></div>
          </div>
        </div>
      </div>
      <div class="Extended Auto Warranty max-w-662">
        <div class="px-3-tw py-4-tw md-px-12-tw md-py-10-tw">
          <div class="pb-4-tw text-xl fw-bold">Important Message</div>
          <p>By accessing the noted link you will be leaving Telco Plus Credit Union's website and entering a website hosted by another party. Telco Plus Credit Union has not approved this as a reliable partner site. Please be advised that you will no longer be subject to, or under the protection of, the privacy and security policies of Telco Plus Credit Union's website. We encourage you to read and evaluate the privacy and security policies of the site you are entering, which may be different than those of Telco Plus Credit Union.</p>
        </div>
        <div class="bg-auxBlue-100">
          <div class="flex cursor-pointer flex-col gap-y-2-tw gap-x-4-tw px-12-tw py-6-tw md-flex-row">
            <div><div class="wow-modal-close-14 block rounded-md border-2 border-brandingBlue-400 bg-white px-12-tw py-2-tw text-center fw-bold text-brandingBlue-400">Cancel</div></div>
            <div><a href="https://www.youtube.com/watch?v=ppHkkRliYLU" class="block rounded-md border-2 border-brandingBlue-400 bg-brandingBlue-400 px-12-tw py-2-tw text-center fw-bold text-white">Continue</a></div>
          </div>
        </div>
      </div>
      <div class="FAQ Youtube Playlist max-w-662">
        <div class="px-3-tw py-4-tw md-px-12-tw md-py-10-tw">
          <div class="pb-4-tw text-xl fw-bold">Important Message</div>
          <p>By accessing the noted link you will be leaving Telco Plus Credit Union's website and entering a website hosted by another party. Telco Plus Credit Union has not approved this as a reliable partner site. Please be advised that you will no longer be subject to, or under the protection of, the privacy and security policies of Telco Plus Credit Union's website. We encourage you to read and evaluate the privacy and security policies of the site you are entering, which may be different than those of Telco Plus Credit Union.</p>
        </div>
        <div class="bg-auxBlue-100">
          <div class="flex cursor-pointer flex-col gap-y-2-tw gap-x-4-tw px-12-tw py-6-tw md-flex-row">
            <div><div class="wow-modal-close-15 block rounded-md border-2 border-brandingBlue-400 bg-white px-12-tw py-2-tw text-center fw-bold text-brandingBlue-400">Cancel</div></div>
            <div><a href="https://www.youtube.com/playlist?list=PLOBcVEL0SOwMs8cArB2MAHEojQcYBSq1R" class="block rounded-md border-2 border-brandingBlue-400 bg-brandingBlue-400 px-12-tw py-2-tw text-center fw-bold text-white">Continue</a></div>
          </div>
        </div>
      </div>
      <div class="Savings Youtube Playlist max-w-662">
        <div class="px-3-tw py-4-tw md-px-12-tw md-py-10-tw">
          <div class="pb-4-tw text-xl fw-bold">Important Message</div>
          <p>By accessing the noted link you will be leaving Telco Plus Credit Union's website and entering a website hosted by another party. Telco Plus Credit Union has not approved this as a reliable partner site. Please be advised that you will no longer be subject to, or under the protection of, the privacy and security policies of Telco Plus Credit Union's website. We encourage you to read and evaluate the privacy and security policies of the site you are entering, which may be different than those of Telco Plus Credit Union.</p>
        </div>
        <div class="bg-auxBlue-100">
          <div class="flex cursor-pointer flex-col gap-y-2-tw gap-x-4-tw px-12-tw py-6-tw md-flex-row">
            <div><div class="wow-modal-close-16 block rounded-md border-2 border-brandingBlue-400 bg-white px-12-tw py-2-tw text-center fw-bold text-brandingBlue-400">Cancel</div></div>
            <div><a href="https://www.youtube.com/playlist?list=PLOBcVEL0SOwMtl-W4xrYC9jpwct42CpNP" class="block rounded-md border-2 border-brandingBlue-400 bg-brandingBlue-400 px-12-tw py-2-tw text-center fw-bold text-white">Continue</a></div>
          </div>
        </div>
      </div>
      <div class="Real Estate Youtube Playlist max-w-662">
        <div class="px-3-tw py-4-tw md-px-12-tw md-py-10-tw">
          <div class="pb-4-tw text-xl fw-bold">Important Message</div>
          <p>By accessing the noted link you will be leaving Telco Plus Credit Union's website and entering a website hosted by another party. Telco Plus Credit Union has not approved this as a reliable partner site. Please be advised that you will no longer be subject to, or under the protection of, the privacy and security policies of Telco Plus Credit Union's website. We encourage you to read and evaluate the privacy and security policies of the site you are entering, which may be different than those of Telco Plus Credit Union.</p>
        </div>
        <div class="bg-auxBlue-100">
          <div class="flex cursor-pointer flex-col gap-y-2-tw gap-x-4-tw px-12-tw py-6-tw md-flex-row">
            <div><div class="wow-modal-close-17 block rounded-md border-2 border-brandingBlue-400 bg-white px-12-tw py-2-tw text-center fw-bold text-brandingBlue-400">Cancel</div></div>
            <div><a href="https://www.youtube.com/playlist?list=PLOBcVEL0SOwM3DmUoUJsv2MecO5vlKPeR" class="block rounded-md border-2 border-brandingBlue-400 bg-brandingBlue-400 px-12-tw py-2-tw text-center fw-bold text-white">Continue</a></div>
          </div>
        </div>
      </div>
      <div class="Bilingual Youtube Playlist max-w-662">
        <div class="px-3-tw py-4-tw md-px-12-tw md-py-10-tw">
          <div class="pb-4-tw text-xl fw-bold">Important Message</div>
          <p>By accessing the noted link you will be leaving Telco Plus Credit Union's website and entering a website hosted by another party. Telco Plus Credit Union has not approved this as a reliable partner site. Please be advised that you will no longer be subject to, or under the protection of, the privacy and security policies of Telco Plus Credit Union's website. We encourage you to read and evaluate the privacy and security policies of the site you are entering, which may be different than those of Telco Plus Credit Union.</p>
        </div>
        <div class="bg-auxBlue-100">
          <div class="flex cursor-pointer flex-col gap-y-2-tw gap-x-4-tw px-12-tw py-6-tw md-flex-row">
            <div><div class="wow-modal-close-18 block rounded-md border-2 border-brandingBlue-400 bg-white px-12-tw py-2-tw text-center fw-bold text-brandingBlue-400">Cancel</div></div>
            <div><a href="https://www.youtube.com/playlist?list=PLOBcVEL0SOwOW1gcD18XexNmNbquByk4u" class="block rounded-md border-2 border-brandingBlue-400 bg-brandingBlue-400 px-12-tw py-2-tw text-center fw-bold text-white">Continue</a></div>
          </div>
        </div>
      </div>
      <div class="Fun Youtube Playlist max-w-662">
        <div class="px-3-tw py-4-tw md-px-12-tw md-py-10-tw">
          <div class="pb-4-tw text-xl fw-bold">Important Message</div>
          <p>By accessing the noted link you will be leaving Telco Plus Credit Union's website and entering a website hosted by another party. Telco Plus Credit Union has not approved this as a reliable partner site. Please be advised that you will no longer be subject to, or under the protection of, the privacy and security policies of Telco Plus Credit Union's website. We encourage you to read and evaluate the privacy and security policies of the site you are entering, which may be different than those of Telco Plus Credit Union.</p>
        </div>
        <div class="bg-auxBlue-100">
          <div class="flex cursor-pointer flex-col gap-y-2-tw gap-x-4-tw px-12-tw py-6-tw md-flex-row">
            <div><div class="wow-modal-close-19 block rounded-md border-2 border-brandingBlue-400 bg-white px-12-tw py-2-tw text-center fw-bold text-brandingBlue-400">Cancel</div></div>
            <div><a href="https://www.youtube.com/playlist?list=PLOBcVEL0SOwMiFgN0sDCVq0ufEuvI9eCF" class="block rounded-md border-2 border-brandingBlue-400 bg-brandingBlue-400 px-12-tw py-2-tw text-center fw-bold text-white">Continue</a></div>
          </div>
        </div>
      </div>
      <div class="How To max-w-662">
        <div class="px-3-tw py-4-tw md-px-12-tw md-py-10-tw">
          <div class="pb-4-tw text-xl fw-bold">Important Message</div>
          <p>By accessing the noted link you will be leaving Telco Plus Credit Union's website and entering a website hosted by another party. Telco Plus Credit Union has not approved this as a reliable partner site. Please be advised that you will no longer be subject to, or under the protection of, the privacy and security policies of Telco Plus Credit Union's website. We encourage you to read and evaluate the privacy and security policies of the site you are entering, which may be different than those of Telco Plus Credit Union.</p>
        </div>
        <div class="bg-auxBlue-100">
          <div class="flex cursor-pointer flex-col gap-y-2-tw gap-x-4-tw px-12-tw py-6-tw md-flex-row">
            <div><div class="wow-modal-close-20 block rounded-md border-2 border-brandingBlue-400 bg-white px-12-tw py-2-tw text-center fw-bold text-brandingBlue-400">Cancel</div></div>
            <div><a href="https://www.youtube.com/playlist?list=PLOBcVEL0SOwOhRf2iTwL6gNpPWwfhMwh5" class="block rounded-md border-2 border-brandingBlue-400 bg-brandingBlue-400 px-12-tw py-2-tw text-center fw-bold text-white">Continue</a></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
