@use "/src/sass/abstracts/" as *;
@use "/src/sass/base/" as *;

// BORDER LOCATION 

.border-5 {
    border: 5px solid;
}

.border-10 {
    border: 10px solid;
}

// Border Bottom
.border-b-1 {
    border-bottom: 1px solid;
}

.border-b-10 {
    border-bottom: 10px solid;
}

// BORDER-COLOR
.border-light {
    border-color: rgb(218, 218, 218);
}

.border-neutral-400 {
    border-color: $clr-neutral-400;
}

.border-neutral-500 {
    border-color: $clr-neutral-500;
}

.border-neutral-700 {
    border-color: $clr-neutral-700;
}

.border-primary-400 {
    border-color: $clr-primary-400;
}

.border-accent-400 {
    border-color: $clr-accent-400;
}