@use "/src/sass/abstracts/" as *;
@use "/src/sass/base/" as *;

// BORDER LOCATION 

.border-0 {
    border: none !important;
}

.border-2 {
    border: 2px solid;
}

.border-5 {
    border: 5px solid;
}

.border-10 {
    border: 10px solid;
}

// BORDER TOP
.border-t-1 {
    border-top: 1px solid;
}

// BORDER BOTTOM
.border-b-1 {
    border-bottom: 1px solid;
}

.border-b-10 {
    border-bottom: 10px solid;
}

// BORDER RIGHT
.border-r-1 {
    border-right: 1px solid;
}

// BORDER-COLOR
.border-light {
    border-color: rgb(218, 218, 218);
}

.border-light-blue {
    border-color: hsla(203, 100%, 17%, 0.18);
}

.border-primary-400 {
    border-color: $clr-primary-400;
}

.border-neutral-400 {
    border-color: $clr-neutral-400;
}

.border-neutral-500 {
    border-color: $clr-neutral-500;
}

.border-neutral-700 {
    border-color: $clr-neutral-700;
}

.border-primary-400 {
    border-color: $clr-primary-400;
}

.border-accent-400 {
    border-color: $clr-accent-400;
}

// BORDER RADIUS
.b-rad {
    border-radius: 0.1875rem;
}

.b-rad-700 {
    border-radius: 2rem;
}

.rounded-t-b-rad {
    border-top-left-radius: 0.1875rem;
    border-top-right-radius: 0.1875rem;
}

.rounded-b-b-rad {
    border-bottom-left-radius: 0.1875rem;
    border-bottom-right-radius: 0.1875rem;
}