@use '/src/sass/abstracts/'as *;

// .bgc-primary-300{
//     background-color: $clr-primary-300;
//   }

.bgc-primary-400 {
  background-color: $clr-primary-400;
}

.bgc-accent-400 {
  background-color: $clr-accent-400;
}

.bgc-neutral-700 {
  background-color: $clr-neutral-700;
}