@use "/src/sass/abstracts/" as *;
@use "/src/sass/base/" as *;


// BG COLORS
.bgc-primary-400 {
  background-color: $clr-primary-400;
}

.lg-max-bgc-primary-400 {
  @include breakpoint-down(lg) {
    background-color: $clr-primary-400;
  }
}

// .bgc-primary-400-min-lg {
//   @include breakpoint(lg) {
//     background-color: $clr-primary-400;
//   }
// }

.bgc-accent-400 {
  background-color: $clr-accent-400;
}

.bgc-neutral-100 {
  background-color: $clr-neutral-100;
}

.bgc-neutral-400 {
  background-color: $clr-neutral-400;
}

.bgc-neutral-700 {
  background-color: $clr-neutral-700;
}

.bgc-blues-100 {
  background-color: $clr-blues-100;
}

.lg-max-bgc-neutral-700 {
  @include breakpoint-down(lg) {
    background-color: $clr-neutral-700;
  }
}

.lg-bgc-neutral-700 {
  @include breakpoint(lg) {
    background-color: $clr-neutral-700;
  }
}



// .bgc-neutral-700-min-lg {
//   @include breakpoint(lg) {
//     background-color: $clr-neutral-700;
//   }
// }

// .bgc-primary-gradient{
//   background: linear-gradient(359.28deg, #1A4789 11.87%, #000000 194.74%);
// }

// Text Colors

// PRIMARY
.clr-primary-300 {
  color: $clr-primary-300;
}

.clr-primary-400 {
  color: $clr-primary-400;
}

// ACCENT
.clr-accent-300 {
  color: $clr-accent-300;
}

.clr-accent-400 {
  color: $clr-accent-400;
}

// NEUTRAL
.clr-neutral-100 {
  color: $clr-neutral-100;
}

.lg-clr-neutral-100 {
  @include breakpoint(lg) {
    color: $clr-neutral-100;
  }
}

.clr-neutral-700 {
  color: $clr-neutral-700;
}

.clr-neutral-800 {
  color: $clr-neutral-800;
}

.clr-neutral-900 {
  color: $clr-neutral-900;
}

// GREYS
.clr-greys-500 {
  color: $clr-greys-500;
}

.clr-greys-600 {
  color: $clr-greys-600;
}

.clr-greys-700 {
  color: $clr-greys-700;
}

// BLUES
.clr-blues-100 {
  color: $clr-blues-100;
}

.clr-blues-600 {
  color: $clr-blues-600;
}

.clr-blues-700 {
  color: $clr-blues-700;
}

.clr-blues-800 {
  color: $clr-blues-800;
}