@use "/src/sass/abstracts/" as *;
@use "/src/sass/base/" as *;

// FLEX
.flex {
  display: flex;
}

.md-flex {
  @include breakpoint(md) {
    display: flex;
  }
}

.xl-flex {
  @include breakpoint(xl) {
    display: flex;
  }
}

// FLEX DIRECTION
.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.md-flex-row {
  @include breakpoint(md) {
    flex-direction: row;
  }
}

.lg-flex-row {
  @include breakpoint(lg) {
    flex-direction: row;
  }
}

// ALIGNMENT
.justify-evenly {
  justify-content: space-evenly;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

// .items-base {
//   align-items: baseline;
// }

.md-justify-end {
  @media(min-width:768px) {
    justify-content: flex-end;
  }
}

.lg-flex-1 {
  @include breakpoint(lg) {
    flex: 1 1 0%;
  }
}

.xl-items-end {
  @include breakpoint(xl) {
    align-items: flex-end;
  }
}

.xl-flex-row {
  @include breakpoint(xl) {
    flex-direction: row;
  }
}

.md-justify-end {
  @media(min-width:768px) {
    justify-content: flex-end;
  }
}

.lg-flex {
  @include breakpoint(lg) {
    display: flex;
  }
}

.lg-items-center {
  @include breakpoint(lg) {
    align-items: center;
  }
}