@use "/src/sass/abstracts/" as *;
@use "/src/sass/base/" as *;

// FLEX
.flex {
  display: flex;
}

.md-flex {
  @include breakpoint(md) {
    display: flex;
  }
}

// FLEX DIRECTION
.flex-col {
  flex-direction: column;
}

.md-flex-row {
  @include breakpoint(md) {
    flex-direction: row;
  }
}

// ALIGNMENT
.justify-evenly {
  justify-content: space-evenly;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}


.flex-wrap {
  flex-wrap: wrap;
}