@use "/src/sass/abstracts/" as *;
@use "/src/sass/base/" as *;

.gap-0 {
    gap: 0;
}

.gap-05 {
    gap: 0.5rem;
}

.gap-1 {
    gap: 1rem;
}

.xl-gap-2 {
    @include breakpoint(xl) {
        gap: 2rem;
    }
}