@use "/src/sass/abstracts/" as *;
@use "/src/sass/base/" as *;

.grid {
    display: grid;
}

// COLUMNS

.grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-cols-85-1 {
    @media(min-width: em(450)) {
        grid-template-columns: 0.85fr 1fr;
    }

}

.grid-cols-1-2 {
    grid-template-columns: 1fr 2fr;
}

.max-450-grid-cols-1-4 {
    @media(max-width: em(450)) {
        grid-template-columns: 1fr 4fr;
    }
}

.md-grid-cols-2 {
    @include breakpoint(md) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

.md-grid-cols-3 {
    @include breakpoint(md) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

.lg-grid-cols-2 {
    @include breakpoint(lg) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

.lg-grid-cols-3 {
    @include breakpoint(lg) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

.xl-grid-cols-2 {
    @include breakpoint(xl) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

.xl-grid-cols-3 {
    @include breakpoint(xl) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

.xxl-grid-cols-3 {
    @include breakpoint(xxl) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

// ALIGNMENT
.items-center {
    align-items: center;
}

.items-end {
    align-items: end;
}

.justify-items-center {
    justify-items: center;
}

.items-baseline {
    align-items: baseline;
}

// ORDER 
.lg-max-order-1 {
    @include breakpoint-down(lg) {
        order: 1;
    }
}

.lg-max-order-2 {
    @include breakpoint-down(lg) {
        order: 2;
    }
}

.max-450-order-2 {
    @media(max-width: em(450)) {
        order: 2;
    }
}