@use "/src/sass/abstracts/" as *;
@use "/src/sass/base/" as *;

.grid {
    display: grid;
}

// COLUMNS

.grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}


.md-grid-cols-2 {
    @include breakpoint(md) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

.md-grid-cols-3 {
    @include breakpoint(md) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

.lg-grid-cols-2 {
    @include breakpoint(lg) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

.lg-grid-cols-3 {
    @include breakpoint(lg) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

.xl-grid-cols-2 {
    @include breakpoint(xl) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

// ALIGNMENT
.items-center {
    align-items: center;
}

.justify-items-center {
    justify-items: center;
}

.items-baseline {
    align-items: baseline;
}

// ORDER 
.lg-max-order-1 {
    @include breakpoint-down(lg) {
        order: 1;
    }
}

.lg-max-order-2 {
    @include breakpoint-down(lg) {
        order: 2;
    }
}