@use "/src/sass/abstracts/" as *;
@use "/src/sass/base/" as *;

.b-rad {
  border-radius: 3px;
}

.img-shadow-right {
  box-shadow: 13px 8px 13px -2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 13px 8px 13px -2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 13px 8px 13px -2px rgba(0, 0, 0, 0.3);
}

.img-shadow-left {
  box-shadow: -13px 8px 13px -2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: -13px 8px 13px -2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -13px 8px 13px -2px rgba(0, 0, 0, 0.3);
}

.img-size-70 {
  @include breakpoint(lg) {
    width: 70%;
  }
}

// NEW
.hero-shadow {
  @include breakpoint(xl) {
    -webkit-box-shadow: -69px 70px 0px -53px $clr-neutral-400;
    -moz-box-shadow: -69px 70px 0px -53px $clr-neutral-400;
    box-shadow: -69px 70px 0px -53px $clr-neutral-400;
  }
}

.content-shadow-left {
  -webkit-box-shadow: -85px -4px 0px -30px $clr-primary-400, 85px -4px 0px -30px $clr-primary-400;
  -moz-box-shadow: -85px -4px 0px -30px $clr-primary-400, 85px -4px 0px -30px $clr-primary-400;
  box-shadow: -85px -4px 0px -30px $clr-primary-400, 85px -4px 0px -30px $clr-primary-400;

  @include breakpoint(md) {
    -webkit-box-shadow: -100px 85px 0px -67px $clr-primary-400, -100px -85px 0px -67px $clr-primary-400;
    -moz-box-shadow: -100px 85px 0px -67px $clr-primary-400, -100px -85px 0px -67px $clr-primary-400;
    box-shadow: -100px 85px 0px -67px $clr-primary-400, -100px -85px 0px -67px $clr-primary-400;
  }
}

.content-shadow-right {
  -webkit-box-shadow: -85px -4px 0px -30px $clr-neutral-400, 85px -4px 0px -30px $clr-neutral-400;
  -moz-box-shadow: -85px -4px 0px -30px $clr-neutral-400, 85px -4px 0px -30px $clr-neutral-400;
  box-shadow: -85px -4px 0px -30px $clr-neutral-400, 85px -4px 0px -30px $clr-neutral-400;

  @include breakpoint(md) {
    -webkit-box-shadow: 100px 85px 0px -67px $clr-neutral-400, 100px -85px 0px -67px $clr-neutral-400;
    -moz-box-shadow: 100px 85px 0px -67px $clr-neutral-400, 100px -85px 0px -67px $clr-neutral-400;
    box-shadow: 100px 85px 0px -67px $clr-neutral-400, 100px -85px 0px -67px $clr-neutral-400;
  }
}