@use "/src/sass/abstracts/" as *;
@use "/src/sass/base/" as *;

.b-rad {
  border-radius: 3px;
}

.img-shadow-right {
  box-shadow: 13px 8px 13px -2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 13px 8px 13px -2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 13px 8px 13px -2px rgba(0, 0, 0, 0.3);
}

.img-shadow-left {
  box-shadow: -13px 8px 13px -2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: -13px 8px 13px -2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -13px 8px 13px -2px rgba(0, 0, 0, 0.3);
}

.img-size-70 {
  @include breakpoint(lg) {
    width: 70%;
  }
}

.hero-shadow {
  @include breakpoint(xl){
    -webkit-box-shadow: -69px 70px 0px -53px $clr-neutral-400;
    -moz-box-shadow: -69px 70px 0px -53px $clr-neutral-400;
    box-shadow: -69px 70px 0px -53px $clr-neutral-400;
  }
}
