@use "/src/sass/abstracts/" as *;
@use "/src/sass/base/" as *;

.max-md-mx-auto {
    @include breakpoint-down(md) {
        margin-inline: auto;
    }
}

.mt-1 {
    margin-top: 1rem;
}

.-lg-max-mt-1-5 {
    @include breakpoint-down(lg) {
        margin-top: -1.5rem;
    }
}

.mb-05 {
    margin-bottom: 0.5rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.lg-mb-2 {
    @include breakpoint(lg) {
        margin-bottom: 2rem;
    }
}

.mb-3-5 {
    margin-bottom: 3.5rem;
}

.mb-4 {
    margin-bottom: 4rem;
}

.mb-4-tw {
    margin-bottom: 1rem;
}

.mb-8 {
    margin-bottom: 2rem;
}

.lg-mb-8 {
    @include breakpoint(lg) {
        margin-bottom: 8rem;
    }
}

.lg-mb-12 {
    @include breakpoint(lg) {
        margin-bottom: 12rem;
    }
}


.xl-mb-15 {
    @include breakpoint(xl) {
        margin-bottom: 15rem;
    }
}

.ml-auto {
    margin-left: auto;
}

.ml-4 {
    margin-left: 1rem;
}

.ml-1-25 {
    margin-left: 1.25rem;
}

.ml-1-5 {
    margin-left: 1.5rem;
}

.md-ml-auto {
    @include breakpoint(md) {
        margin-left: auto;
    }
}

.md-mb-4 {
    @include breakpoint(md) {
        margin-bottom: 4rem;
    }
}



// .xl-mb-2 {
//     @include breakpoint(xl) {
//         margin-bottom: 2rem;
//     }
// }

// .xxl-mb-2 {
//     @include breakpoint(xxl) {
//         margin-bottom: 2rem;
//     }
// }

.mx-auto {
    margin-inline: auto;
}

.mx-auto-force {
    margin-inline: auto !important;
}

.md-max-mx-auto {
    @include breakpoint-down(md) {
        margin-inline: auto;
    }
}

.md-mr-auto {
    @include breakpoint(md) {
        margin-right: auto;
    }
}

.md-ml-auto {
    @include breakpoint(md) {
        margin-left: auto;
    }
}

.xl-mb-7 {
    @include breakpoint(xl) {
        margin-bottom: 7rem;
    }
}

.lg-max-mb-4 {
    @include breakpoint-down(lg) {
        margin-bottom: 1rem;
    }
}

.lg-mb-3 {
    @include breakpoint(lg) {
        margin-bottom: 3rem;
    }
}