@use "/src/sass/abstracts/" as *;
@use "/src/sass/base/" as *;




.-lg-max-mt-1-5 {
    @include breakpoint-down(lg) {
        margin-top: -1.5rem;
    }
}

.mb-05 {
    margin-bottom: 0.5rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.lg-mb-2 {
    @include breakpoint(lg) {
        margin-bottom: 2rem;
    }
}

.md-ml-auto {
    @include breakpoint(md) {
        margin-left: auto;
    }
}

// .xl-mb-2 {
//     @include breakpoint(xl) {
//         margin-bottom: 2rem;
//     }
// }

// .xxl-mb-2 {
//     @include breakpoint(xxl) {
//         margin-bottom: 2rem;
//     }
// }

.mx-auto {
    margin-inline: auto;
}

.md-max-mx-auto {
    @include breakpoint-down(md) {
        margin-inline: auto;
    }
}