@use "/src/sass/abstracts/" as *;
@use "/src/sass/base/" as *;


.hidden {
  display: none;
}

.md-block {
  @include breakpoint(md) {
    display: block;
  }
}

.lg-block {
  @include breakpoint(lg) {
    display: block;
  }
}

.lg-hidden {
  @include breakpoint(lg) {
    display: none;
  }
}


.cursor-pointer {
  cursor: pointer;
}


.mega-indicator {
  display: none !important;
}

.gtranslate_wrapper {
  display: none;

  @include breakpoint(lg) {
    display: block;
  }
}



// FULL BLEED
// .full-bleed-neutral-700 {
//   box-shadow: 0 0 0 100max $clr-primary-400;
//   clip-path: inset(0 -100vmax);

//   @include breakpoint(lg) {
//     box-shadow: 0 0 0 100vmax $clr-neutral-700;
//     clip-path: inset(0 -100vmax);
//   }

//   @include breakpoint(xl) {
//     box-shadow: 0 0 0 45vmax $clr-neutral-700;
//     clip-path: inset(0 -100vmax);
//   }
// }

// .full-bleed-primary-400 {
//   box-shadow: 0 0 0 100vmax $clr-neutral-700;
//   clip-path: inset(0 -100vmax);

//   @include breakpoint(lg) {
//     box-shadow: 0 0 0 100vmax $clr-primary-400;
//     clip-path: inset(0 -100vmax);
//   }

//   @include breakpoint(xl) {
//     box-shadow: 0 0 0 48vmax $clr-primary-400;
//     clip-path: inset(0 -100vmax);
//   }
// }

// .bg-fix::before {
//   @include breakpoint(xxl) {
//     top: 170% !important;
//     min-height: 90% !important;
//   }
// }

// .space {
//   min-height: 500px;
// }