@use "/src/sass/abstracts/" as *;
@use "/src/sass/base/" as *;


.hidden {
  display: none;
}


.cursor-pointer {
  cursor: pointer;
}



.search-bar-container {
  padding-top: 1rem;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  margin-top: -100px;

  .search-bar {

    border: 0;
    background-color: #e6e6e6;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;


    &__submit {
      background-color: $clr-primary-400;
      color: #fff;
      padding: 0.25rem 0.5rem;
      border: 0;
      border-radius: 5px;
      margin: 0;
      cursor: pointer;
    }
  }
}

.search-active {
  opacity: 1;
  margin-top: 0;
}


//Search Page
.search-results {
  .container {
    &::before {
      display: none;
    }

    .entry-title {
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }

    .post-meta {
      display: none;
    }


  }

  .alignleft,
  .alignright {
    color: $clr-primary-400;
  }

  #sidebar {
    display: none;
  }
}



// FULL BLEED
// .full-bleed-neutral-700 {
//   box-shadow: 0 0 0 100max $clr-primary-400;
//   clip-path: inset(0 -100vmax);

//   @include breakpoint(lg) {
//     box-shadow: 0 0 0 100vmax $clr-neutral-700;
//     clip-path: inset(0 -100vmax);
//   }

//   @include breakpoint(xl) {
//     box-shadow: 0 0 0 45vmax $clr-neutral-700;
//     clip-path: inset(0 -100vmax);
//   }
// }

// .full-bleed-primary-400 {
//   box-shadow: 0 0 0 100vmax $clr-neutral-700;
//   clip-path: inset(0 -100vmax);

//   @include breakpoint(lg) {
//     box-shadow: 0 0 0 100vmax $clr-primary-400;
//     clip-path: inset(0 -100vmax);
//   }

//   @include breakpoint(xl) {
//     box-shadow: 0 0 0 48vmax $clr-primary-400;
//     clip-path: inset(0 -100vmax);
//   }
// }

// .bg-fix::before {
//   @include breakpoint(xxl) {
//     top: 170% !important;
//     min-height: 90% !important;
//   }
// }

.space {
  min-height: 500px;
}