@use "/src/sass/abstracts/" as *;
@use "/src/sass/base/" as *;

.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 2rem;
}

.p-2-5 {
    padding: 2.5rem;
}

// PADDING BLOCK
.py-05 {

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.py-0875 {
    padding-top: 0.875rem;
    padding-bottom: 0.875rem;
}

.py-1 {

    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-1-25 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.py-1-5 {
    padding-block: 1.5rem
}

.py-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.md-py-2 {
    @include breakpoint(md) {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

.py-3 {
    padding-block: 3rem
}


.md-py-3 {
    @include breakpoint(md) {
        padding-block: 3rem;
    }
}



.md-py-5 {
    @include breakpoint(md) {
        padding-block: 5rem;
    }
}

.xl-py-5 {
    @include breakpoint(xl) {
        padding-block: 5rem;
    }
}

.md-py-7 {
    @include breakpoint(md) {
        padding-block: 7rem;
    }
}

.lg-py-12-5 {
    @include breakpoint(lg) {
        padding-top: 12.5rem;
        padding-bottom: 12.5rem;
    }
}

// PADDING INLINE
.px-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.px-1-375 {
    padding-left: 1.375rem;
    padding-right: 1.375rem;
}

.px-4-5 {
    padding-left: 4.5rem;
    padding-right: 4.5rem;
}

// PADDING BOTTOM
.pb-05 {
    padding-bottom: 0.5rem
}

.lg-max-pb-05 {
    @include breakpoint-down(lg) {
        padding-bottom: 0.5rem;
    }
}

.pb-1 {
    padding-bottom: 1rem
}

.pb-1-5 {
    padding-bottom: 1.5rem
}

.md-pb-2 {
    @include breakpoint(md) {
        padding-bottom: 2rem;
    }
}

.md-pb-4 {
    @include breakpoint(md) {
        padding-bottom: 4rem;
    }
}

.xl-pb-5 {
    @include breakpoint(xl) {
        padding-bottom: 5rem;
    }
}

// PADDING TOP
.pt-1 {
    padding-top: 1rem
}

.pt-2 {
    padding-top: 2rem
}

.md-pt-3 {
    @include breakpoint(md) {
        padding-top: 3rem;
    }
}

.xl-pt-15 {
    @include breakpoint(xl) {
        padding-top: 15rem;
    }
}

.xl-pb-2 {
    @include breakpoint(xl) {
        padding-bottom: 2rem;
    }
}

// LG PADDING BLOCK 
.lg-py-3 {
    @include breakpoint(lg) {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}

.xl-pb-5 {
    @include breakpoint(xl) {
        padding-bottom: 5rem;
    }
}

.md-py-2 {
    @include breakpoint(md) {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

.xl-pt-15 {
    @include breakpoint(xl) {
        padding-top: 15rem;
    }
}

.xl-pb-5 {
    @include breakpoint(xl) {
        padding-bottom: 5rem;
    }
}