@use "/src/sass/abstracts/" as *;
@use "/src/sass/base/" as *;

.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 2rem;
}

.p-2-5 {
    padding: 2.5rem;
}

// PADDING BLOCK
.py-05 {

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.py-0875 {
    padding-top: 0.875rem;
    padding-bottom: 0.875rem;
}

.py-1 {

    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-1-25 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.py-1-5 {
    padding-block: 1.5rem
}

.py-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.py-4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.md-py-2 {
    @include breakpoint(md) {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

.py-3 {
    padding-block: 3rem
}

.py-6-tw {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}


.md-py-3 {
    @include breakpoint(md) {
        padding-block: 3rem;
    }
}



.md-py-5 {
    @include breakpoint(md) {
        padding-block: 5rem;
    }
}

.xl-py-5 {
    @include breakpoint(xl) {
        padding-block: 5rem;
    }
}

.md-py-7 {
    @include breakpoint(md) {
        padding-block: 7rem;
    }
}

.lg-py-12-5 {
    @include breakpoint(lg) {
        padding-top: 12.5rem;
        padding-bottom: 12.5rem;
    }
}

// PADDING INLINE
.px-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.px-1-f {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.px-1-375 {
    padding-left: 1.375rem;
    padding-right: 1.375rem;
}

.px-4-5 {
    padding-left: 4.5rem;
    padding-right: 4.5rem;
}

.px-3-tw {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.px-6-tw {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.py-4-tw {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

// PADDING BOTTOM

.pb-0 {
    padding-bottom: 0;
}

.pb-05 {
    padding-bottom: 0.5rem
}

.lg-max-pb-05 {
    @include breakpoint-down(lg) {
        padding-bottom: 0.5rem;
    }
}

.pb-1 {
    padding-bottom: 1rem
}

.pb-1-5 {
    padding-bottom: 1.5rem
}

.pb-4 {
    padding-bottom: 4rem
}

.md-pt-2 {
    @include breakpoint(md) {
        padding-top: 2rem;
    }
}

.md-pb-2 {
    @include breakpoint(md) {
        padding-bottom: 2rem;
    }
}

.md-pb-4 {
    @include breakpoint(md) {
        padding-bottom: 4rem;
    }
}

.xl-pb-5 {
    @include breakpoint(xl) {
        padding-bottom: 5rem;
    }
}

// PADDING TOP
.pt-1 {
    padding-top: 1rem
}

.pt-2 {
    padding-top: 2rem
}

.pt-8 {
    padding-top: 2rem;
}

.pb-14 {
    padding-bottom: 3.5rem;
}

.md-pb-1 {
    @include breakpoint(md) {
        padding-bottom: 1rem;
    }
}

.md-pt-3 {
    @include breakpoint(md) {
        padding-top: 3rem;
    }
}

.xl-pt-15 {
    @include breakpoint(xl) {
        padding-top: 15rem;
    }
}

.xl-pb-2 {
    @include breakpoint(xl) {
        padding-bottom: 2rem;
    }
}

// LG PADDING BLOCK 
.lg-py-3 {
    @include breakpoint(lg) {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}

.px-12-tw {
    padding-left: 3rem;
    padding-right: 3rem;
}

.md-px-12-tw {
    @include breakpoint(md) {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

.md-py-10-tw {
    @include breakpoint(md) {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
}

.lg-p-1 {
    @include breakpoint(lg) {
        padding: 1rem;
    }
}

.xl-pb-5 {
    @include breakpoint(xl) {
        padding-bottom: 5rem;
    }
}

.md-py-2 {
    @include breakpoint(md) {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

.xl-pt-15 {
    @include breakpoint(xl) {
        padding-top: 15rem;
    }
}

.xl-pb-5 {
    @include breakpoint(xl) {
        padding-bottom: 5rem;
    }
}

.xl-pt-12 {
    @include breakpoint(xl) {
        padding-top: 3rem;
    }
}

.xl-pb-26 {
    @include breakpoint(xl) {
        padding-bottom: 6.5rem;
    }
}

.xxl-pt-16 {
    @include breakpoint(xxl) {
        padding-top: 4rem;
    }
}

.xxl-pb-40 {
    @include breakpoint(xxl) {
        padding-bottom: 10rem;
    }
}

.max-lg-pb-4 {
    @include breakpoint-down(lg) {
        padding-bottom: 1rem !important;
    }
}

.md-pt-2 {
    @include breakpoint(md) {
        padding-top: 2rem;
    }
}