@use "/src/sass/abstracts/" as *;
@use "/src/sass/base/" as *;

// PADDING BLOCK
.py-1 {
    padding-block: 1rem
}

.py-1-5 {
    padding-block: 1.5rem
}

.py-2 {
    padding-block: 2rem
}

.md-py-2 {
    @include breakpoint(md) {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

.py-3 {
    padding-block: 3rem
}


.md-py-3 {
    @include breakpoint(md) {
        padding-block: 3rem;
    }
}

.lg-py-3 {
    @include breakpoint(lg) {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}

.md-py-5 {
    @include breakpoint(md) {
        padding-block: 5rem;
    }
}

.xl-py-5 {
    @include breakpoint(xl) {
        padding-block: 5rem;
    }
}

.md-py-7 {
    @include breakpoint(md) {
        padding-block: 7rem;
    }
}

// PADDING BOTTOM
.lg-max-pb-05 {
    @include breakpoint-down(lg) {
        padding-bottom: 0.5rem;
    }
}

.pb-1 {
    padding-bottom: 1rem
}

.pb-1-5 {
    padding-bottom: 1.5rem
}

.md-pb-2 {
    @include breakpoint(md) {
        padding-bottom: 2rem;
    }
}

.xl-pb-5 {
    @include breakpoint(xl) {
        padding-bottom: 5rem;
    }
}

// PADDING TOP
.pt-2 {
    padding-top: 2rem
}

.md-pt-3 {
    @include breakpoint(md) {
        padding-top: 3rem;
    }
}

.xl-pt-15 {
    @include breakpoint(xl) {
        padding-top: 15rem;
    }
}