@use '/src/sass/abstracts/' as *;
@use '/src/sass/base/' as *;

// POSITION
.absolute {
  position: absolute !important;
}

.lg-absolute {
  @include breakpoint(lg) {
    position: absolute !important;
  }
}

.-translate-x-50 {
  transform: translateX(-50%);
}

// .-translate-y-50 {
//   transform: translateY(-50%);
// }

.relative {
  position: relative;
}

.lg-relative {
  @include breakpoint(lg) {
    position: relative !important;
  }
}

// TEXT ALIGNMENT
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-start {
  text-align: start;
}

.md-text-center {
  @include breakpoint(md) {
    text-align: center;
  }
}

.text-start-lg {
  @include breakpoint(lg) {
    text-align: start;
  }
}

.md-max-text-center {
  @include breakpoint-down(md) {
    text-align: center;
  }
}

// Z INDEX
// .z-100 {
//   z-index: 100;
// }


// DISPLAY

.block-f {
  display: block !important;
}

.lg-block {
  display: none;

  @include breakpoint(lg) {
    display: block;
  }
}

.xl-block {
  display: none;

  @include breakpoint(xl) {
    display: block;
  }
}

// OVERFLOW
.overflow-x-auto {
  overflow-x: auto;
}

.block {
  display: block;
}

.left-0 {
  left: 0;
}