@use "/src/sass/abstracts/" as *;
@use "/src/sass/base/" as *;

.rounded-md {
    border-radius: 0.375rem;
}

.border-brandingBlue-400 {
    border-color: rgb(0 101 163);
}

.bg-brandingBlue-400 {
    background-color: rgb(0 101 163);
}

.text-brandingBlue-400 {
    color: rgb(0 101 163);
}

.bg-white {
    background-color: #fff;
}

.text-white {
    color: #fff;
}

.py-2-tw {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.pb-4-tw {
    padding-bottom: 1rem;
}

.gap-8-tw {
    gap: 2rem;
}

.font-bold {
    font-weight: 700;
}

.border-r-4 {
    border-right-width: 1rem;
}

.border-l-4 {
    border-left-width: 1rem;
}

.border-brandingBlue-500 {
    border-color: var(--clr-primary-500);
}



.pt-4 {
    padding-top: 1rem;
}

.left-50 {
    left: 50%;
}

.-translate-x-50 {
    transform: translateX(-50%);
}

.object-cover {
    object-fit: cover;
}

.justify-around {
    justify-content: space-around;
}

.z-10 {
    z-index: 10;
}

.lg-justify-between {
    @include breakpoint(lg) {
        justify-content: space-between;
    }
}