@use "/src/sass/base/" as *;
@use "/src/sass/abstracts/" as *;

// FONT SIZES
.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.fs-12 {
  font-size: rem(12);
  line-height: 1.25;
}

.fs-14 {
  font-size: rem(14);
  line-height: 1.25rem;
}

.md-fs-14 {
  @include breakpoint(md) {
    font-size: rem(14);
    line-height: 1.25rem;
  }
}

.fs-18 {
  font-size: rem(18);
  line-height: 1.5rem;
}

.fs-20 {
  font-size: rem(20);
  line-height: 1.75rem;
}

.fs-22 {
  font-size: rem(22);
  line-height: 1.75rem;
}

.fs-24 {
  font-size: rem(24);
  line-height: 2rem;
}

.fs-28 {
  font-size: rem(28);
}

.fs-30 {
  font-size: rem(30);
  line-height: 2rem;
}

.fs-32 {
  font-size: rem(32);
  line-height: 2rem;
}

.md-fs-18 {
  @include breakpoint(md) {
    font-size: rem(18);
    line-height: 1.5rem;
  }
}

.md-fs-20 {
  @include breakpoint(md) {
    font-size: rem(20);
    line-height: 1.75rem;
  }
}

.md-fs-24 {
  @include breakpoint(md) {
    font-size: rem(24);
    line-height: 2rem;
  }
}

.md-fs-30 {
  @include breakpoint(md) {
    font-size: rem(30);
    line-height: 2rem;
  }
}

.fs-50 {
  font-size: rem(50);
  line-height: 1;
}

// TAILWIND FZ CLASSES
.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}



// HEADINGS
.primary-heading {

  font-size: clamp(2.5rem, 5vw, 3.5rem);
  line-height: 1;

  // font-weight: 500 !important;
  font-family: $ff-accent;
}

.secondary-heading {
  font-size: clamp(1.5rem, 5vw, 2.25rem);
  line-height: 1.5;

  // font-weight: 500 !important;
  font-family: $ff-accent;
}

.sub-heading {
  &::before {
    content: url("https://dev3.growthbydesign.org/wp-content/uploads/2022/11/plus.png");
  }
}


// WEIGHTS 
.fw-light {
  font-weight: $fw-light;
}

.fw-medium {
  font-weight: $fw-medium;
}

.fw-semi-bold {
  font-weight: $fw-semi-bold;
}

.fw-bold {
  font-weight: 700;
}

.fw-bold-force {
  font-weight: 700;
}



// FONT FAMILIES
.ff-primary {
  font-family: $ff-primary;
}

.ff-accent {
  font-family: $ff-accent;
}


// LINE HEIGHTS
.lh-1 {
  line-height: 1;
}

.lh-1-1 {
  line-height: 1.1;
}

.lh-2 {
  line-height: 2;
}

// TEXT DECORATION

.uppercase {
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

.tracking-widest {
  letter-spacing: 0.1em;
}

.underline {
  text-decoration: underline !important;
}

.hover-underline:hover {
  text-decoration: underline !important;
}

.decoration-accent-400 {
  text-decoration-color: $clr-accent-400 !important;
}