@use "/src/sass/base/" as *;
@use "/src/sass/abstracts/" as *;

// FONT SIZES
.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.fs-14 {
  font-size: rem(14);
  line-height: 1.25rem;
}

.fs-18 {
  font-size: rem(18);
  line-height: 1.5rem;
}

.fs-20 {
  font-size: rem(20);
  line-height: 1.75rem;
}

.fs-24 {
  font-size: rem(24);
  line-height: 2rem;
}

// HEADINGS
.primary-heading {

  font-size: clamp(2.5rem, 5vw, 3.75rem);
  line-height: 1;
}

.secondary-heading {
  font-size: clamp(1.5rem, 5vw, 2.25rem);
  line-height: 1.5;
}

.sub-heading {
  &::before {
    content: url("https://dev3.growthbydesign.org/wp-content/uploads/2022/11/plus.png");
  }
}


// WEIGHTS 
.fw-medium {
  font-weight: $fw-medium;
}

.fw-semi-bold {
  font-weight: $fw-semi-bold;
}

.fw-bold {
  font-weight: 700;
}



// FONT FAMILIES
.ff-primary {
  font-family: $ff-primary;
}

.ff-accent {
  font-family: $ff-accent;
}


// LINE HEIGHTS
.lh-1 {
  line-height: 1;
}

// TEXT DECORATION

.uppercase {
  text-transform: uppercase;
}

.tracking-widest {
  letter-spacing: 0.1em;
}

.underline {
  text-decoration: underline !important;
}