@use '/src/sass/base/'as *;
@use '/src/sass/abstracts/'as *;

// Font Sizes

.fs-425{
    font-size: $fs-425;
  }
  
  .fs-450{
    font-size: $fs-450;
  }

  .fs-500{
    font-size: $fs-500;
  }
  
// Weights

  .fw-medium{
    font-weight: $fw-medium;
  }
  
  .fw-semi-bold{
    font-weight: $fw-semi-bold;
  }
  
  .fw-bold{
    font-weight: $fw-bold;
  }

//   Color
  
  .clr-primary-400{
    color: $clr-primary-400;
  }
  
  .clr-neutral-100{
    color: $clr-neutral-100;
  }
  
  .clr-neutral-900{
    color: $clr-neutral-900;
  }

  // .span-highlight{
  //   span{
  //     color: $clr-accent-400;
  //   }
  // }

  // .span-highlight-dark{
  //   span{
  //     color: $clr-primary-400;
  //   }
  // }

  // .upper{
  //   text-transform: uppercase;
  // }

  // Hyperlinks

//   .highlight-a{
//     a{
//         color: $clr-accent-400;
//     }
// }
