@use "/src/sass/abstracts/" as *;
@use "/src/sass/base/" as *;


// WIDTHS
.w-full {
    width: 100%;
}

.lg-w-full {
    @include breakpoint(lg) {
        width: 100%;
    }
}

.w-screen {
    width: 100vw;
}

.w-2 {
    width: 2rem;
}

.w-5 {
    width: 5rem;
}

.w-20 {
    width: 20rem;
}

.w-70 {
    width: 70%;
}

.md-w-50 {
    @include breakpoint(md) {
        width: 50%;
    }
}

.md-w-70 {
    @include breakpoint(md) {
        width: 70%;
    }
}

// CHARACTER WIDTHS 

.md-width-ch-70 {
    @include breakpoint(md) {
        width: 70ch;
    }
}

// MAX WIDTHS
.max-width-ch-70 {
    max-width: 70ch;
}

.max-width-ch-85 {
    max-width: 85ch;
}

.max-w-5xl {
    max-width: 64rem;
}

.max-w-433 {
    max-width: 433px;
}


.md-max-width-300 {
    @include breakpoint(md) {
        max-width: 300px;
    }
}

.md-max-width-500 {
    @include breakpoint(md) {
        max-width: 500px;
    }
}

.md-width-ch-70-force {
    @include breakpoint(md) {
        width: 70ch !important;
    }
}

// DIVI
.width-unset {
    width: unset !important;
}

// ASPECT RATIO
.aspect-video {
    aspect-ratio: 16 / 9;
}