@use '/src/sass/abstracts/'as *;

.btn {
  display: inline-flex;
  // display: inline-block;
  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;
  border: 0;
  // border-radius: 7px;
  border-radius: 100vmax;
  padding: 0.8em 1.25em !important;
  font-weight: $fw-bold;
  line-height: 1;
  font-size: $fs-button;

  transform: scale(1);
  transition: transform 200ms ease;

  // border: 3px solid $clr-primary-400;

  color: $clr-neutral-100;
  background-color: $clr-accent-400;
  box-shadow: 0 1.125em 1em -1em $clr-accent-500;
  a{
    color: $clr-neutral-100;
  }
  &:hover,
  &:focus {
    transform: scale(1.05) translateY(-.125em);

    &::before {
      opacity: .3;
    }
  }
}