@use '/src/sass/abstracts/' as *;
@use '/src/sass/base/' as *;

.btn {
  display: inline-flex;
  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;
  border: 0;
  border-radius: 100vmax;
  padding: 0.8em 1.25em !important;
  font-weight: $fw-bold;
  line-height: 1;
  transform: scale(1);
  transition: transform 200ms ease;
  color: $clr-primary-400;
  background-color: white;
  box-shadow: 0 1.125em 1em -1em $clr-primary-500;

  a {
    color: $clr-neutral-100;
  }

  &:hover,
  &:focus {
    transform: scale(1.05) translateY(-.125em);

    &::before {
      opacity: .3;
    }
  }
}

.btn-accent {
  background-color: var(--clr-primary-400);
  color: white
}

.btn-shadow-primary {
  box-shadow: 0 1.125em 1em -1em $clr-primary-500;
}

.btn-shadow-neutral {
  box-shadow: 0 1.125em 1em -1em $clr-neutral-500;
}

.btn-shadow-red {
  box-shadow: 0 1.125em 1em -1em rgb(190 18 60);
}

.btn-no-shadow {
  box-shadow: none;
}


.nav-btn {
  font-size: 1.125rem;
  font-weight: 600;

  @media(min-width:1000px) {
    font-size: 0.875rem;
    padding: 1rem;
  }


  @media(min-width: 1250px) {
    background-color: var(--clr-primary-400);
    color: white !important;
    border-radius: 5px;
    border-radius: 100vmax;
  }

  @media(min-width: 93.75em) {
    font-size: 1.125rem;
  }
}