nav {
    img {
        max-width: 150px;

        @media(min-width:768px) {
            max-width: 100%;
        }

        @media(min-width:1000px) {
            margin-right: 4rem;
        }
    }
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.navbar-toggler {
    background: white;
    border: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--clr-primary-400);
}

.nav-bar {
    top: 68px;

    @media(min-width:768px) {
        top: 90px;
    }

    @media(min-width:1000px) {
        top: 0;
    }

    a {
        text-decoration: none;
        color: #fff;

        @media(min-width:1000px) {
            color: var(--clr-primary-400);
        }


        // font-size: 1.125rem;
    }
}

.nav-bar.active {
    display: flex;
}

.dropdown__toggle.active {
    text-decoration: underline;
    text-decoration-color: var(--clr-accent-400)
}

.dropdown__menu.active {
    display: flex;
    flex-direction: column;
}

.dropdown__menu {
    a {
        text-transform: capitalize;
        font-weight: 500;
    }

    @media(min-width:1000px) {
        position: absolute;
        width: 250px;
        background-color: var(--clr-primary-400);
        border-radius: 5px;
        gap: 0 !important;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

        li:hover {
            background-color: var(--clr-accent-400);
        }


        a {
            // font-size: 14px;
            color: #fff;
            padding-inline: 1rem;
            padding-block: 1.125rem;
            display: block;
            border-bottom: 1px solid rgb(187, 187, 187);
            // line-height: 30px;
        }
    }
}

.capitalize {
    text-transform: capitalize;
}

.lg-right-0 {
    @media(min-width:1000px) {
        right: 0;
    }
}

.lg-border-radius-top-hover:hover {
    @media(min-width:1000px) {
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }
}

.lg-border-radius-bottom-hover:hover {
    @media(min-width:1000px) {
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }
}