@use '/src/sass/abstracts/' as *;
@use '/src/sass/base/' as *;

.inner-hero {


    @include breakpoint(lg) {
        background-color: $clr-primary-400;
        padding: 8rem 0;
    }

    .even-columns {
        .content-col {
            padding: 1.5rem 0;
            margin-bottom: 1.5rem;
            background-color: $clr-primary-400;
            box-shadow: 0 0 0 45vmax $clr-primary-400;
            clip-path: inset(0 -100vmax);

            @include breakpoint(lg) {
                padding: 0;
                margin-bottom: 0;
                background-color: transparent;
            }

            .sub-heading {
                gap: 0.5rem;

                &::before {
                    content: url('https://dev3.growthbydesign.org/wp-content/uploads/2022/11/plus.png');
                }
            }
        }

        .img-wrapper {

            &::before {
                content: "";
                min-height: 85%;
                position: absolute;

                top: 50%;
                transform: translateY(-50%);

                box-shadow: 0 0 0 100vmax $clr-neutral-400;
                clip-path: inset(0 -100vmax);
                z-index: -1;
                // top: 25%;

                // @include breakpoint(lg){


                //     box-shadow: none;
                //     border-radius: 3px;

                //     height: 145%;
                //     width: 65%;

                //     left: 10%;
                //     top: 100%;
                // }

                @media(min-width: em(1500)) {
                    & {

                        content: "";
                        position: absolute;
                        background-color: $clr-neutral-400;
                        z-index: 50;
                        box-shadow: none;
                        border-radius: 3px;

                        // height: 145%;
                        width: 65%;

                        left: 10%;
                        top: 80%;

                    }
                }
            }

            img {
                max-width: 90%;
                // width: 327px;
                height: clamp(80%, 100%, 300px);
                object-fit: cover;
                object-position: -10% 0;
                margin-inline: auto;
                box-shadow: 2px 2px 16px 1px rgba(0, 0, 0, 0.2);

                @include breakpoint(lg) {
                    position: absolute;
                    left: 50%;
                    transform: translate(-50%, 0);
                    z-index: 100;
                    width: unset;
                    height: unset;

                    box-shadow: -13px 8px 13px -2px rgba(0, 0, 0, 0.3);
                    -webkit-box-shadow: -13px 8px 13px -2px rgba(0, 0, 0, 0.3);
                    -moz-box-shadow: -13px 8px 13px -2px rgba(0, 0, 0, 0.3);
                }
            }
        }

        .img-bg {
            // margin-top: -200px;
            // height: 240px;
            // box-shadow: 0 0 0 45vmax $clr-neutral-400;
            // clip-path: inset(0 -100vmax);

            // @include breakpoint(lg) {
            //     top: 101px;
            //     left: 74px;
            //     // left: 10%;
            //     width: 65%;
            //     // height: 490px;
            //     height: max(80%, 120%);
            //     box-shadow: none;
            //     position: absolute;
            // }
        }
    }
}