@use "/src/sass/abstracts/" as *;
@use "/src/sass/base/" as *;

// .wide-container {
//   --max-width: 1750px;
//   --container-padding: 1rem;

//   width: min(var(--max-width), 100% - (var(--container-padding) * 2)) !important;
//   margin-inline: auto;
// }

.container-de {
  // --max-width: 1500px;
  --max-width: 1350px;
  // --max-width: 1200px;
  --container-padding: 1.5rem;

  width: min(var(--max-width), 100% - (var(--container-padding) * 2)) !important;
  margin-inline: auto;

  @include breakpoint(md) {
    --container-padding: 2rem;
  }
}

// .container-sm {
//   --max-width: 1200px;
//   --container-padding: 1rem;

//   width: min(var(--max-width), 100% - (var(--container-padding) * 2)) !important;
//   margin-inline: auto;
// }