@use '/src/sass/abstracts/' as *;
@use '/src/sass/base/' as *;

.top-nav {
    @include breakpoint-down(sm-500) {
        flex-direction: column;
        gap: 0.5rem;
        align-items: end;
    }
}

#mega-menu-primary-menu {
    @include breakpoint(lg) {
        display: flex !important;
        justify-content: space-between;
        align-items: center;
    }
}

.mega-menu-link {
    color: $clr-primary-400 !important;
    font-weight: $fw-bold !important;
    font-size: 1.125rem !important;
    font-family: $ff-accent !important;

    @include breakpoint-down(lg) {
        text-align: center !important;
    }

    .mega-indicator {
        color: $clr-accent-400 !important;

        @include breakpoint-down(lg) {
            float: unset !important;
        }
    }
}


#mega-menu-item-225862>a {
    &:hover {
        background: transparent !important;
    }
}