@use '/src/sass/abstracts/' as *;
@use '/src/sass/base/' as *;


#mega-menu-primary-menu {
    @include breakpoint(lg) {
        display: flex !important;
        justify-content: space-between;
        align-items: center;
    }
}

.mega-menu-link {
    color: $clr-primary-400 !important;
    font-weight: $fw-bold !important;
    font-size: 1.125rem !important;

    @media(min-width:1000px) and (max-width:1249px) {
        font-size: 0.875rem !important;
    }

    // @media(min-width:1250px) {
    //     font-size: 1.125rem !important;
    // }

    font-family: $ff-primary !important;

    @include breakpoint-down(lg) {
        text-align: center !important;
    }

    .mega-indicator {
        color: $clr-accent-400 !important;

        @include breakpoint-down(lg) {
            float: unset !important;
        }
    }
}

#mega-menu-item-225985>a,
#mega-menu-item-226700>a,
#mega-menu-item-226917>a,
#mega-menu-item-227319>a {
    @include breakpoint(lg) {
        pointer-events: none !important;
    }
}


#mega-menu-item-225862>a {
    &:hover {
        background: transparent !important;
    }
}

// Become a member button
#mega-menu-item-225862 {
    display: none !important;
}