.esp-toggle {
    cursor: pointer;
    padding: 0.75rem;
    background-color: var(--clr-primary-400);
    color: white;
    border-radius: 100vmax;
    position: relative;

    display: none;

    @media(min-width: 1000px) {
        display: block;
    }


    .esp-dropdown {

        position: absolute;
        top: 110%;
        left: 0;
        width: 300%;
        // margin-left: 0.5rem;
        list-style: none;
        background-color: var(--clr-accent-400);

        border-radius: 5px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

        li {
            border-bottom: 1px solid rgb(187, 187, 187);
            font-size: 0.875rem;
            padding-inline: 1rem;
            padding-block: 1.125rem;

            a {
                display: flex;

                color: white;
            }

            &:hover {
                background-color: var(--clr-primary-400);
            }
        }
    }
}

.esp-dropdown.active {
    display: block;
}



// .esp-toggle:hover .esp-dropdown {
//     display: block;
// }